root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

[*.php]
indent_size = 4

[composer.json]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.{yml,blade.php,html}]
indent_size = 2
